{% extends "base.html" %}
{% load compress static %}

{% block extra_js %}
    {% compress js %}
    <script type="text/coffeescript" src="{% static "core/js/application.coffee" %}"></script>
    <script type="text/x-handlebars" src="{% static "core/js/templates/application.handlebars" %}"></script>
    <script type="text/x-handlebars" src="{% static "core/js/templates/index.handlebars" %}"></script>
    <script type="text/x-handlebars" src="{% static "core/js/templates/quizzes/create.handlebars" %}"></script>
    <script type="text/x-handlebars" src="{% static "core/js/templates/answer-row.handlebars" %}"></script>
    {% endcompress %}
{% endblock %}
