<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {{bs-alert message="Welcome to quizshowdown - Nice to see you" type="warning" dismissAfter=2 fade=true}}
        <table class="table highscore">
        <thead>
            <tr>
                <th>Highscore</th>
                <th>Username</th>
            </tr>
        </thead>
        {{#each}}
            <tr>
                <td>{{highscore}}</td>
                <td>{{username}}</td>
            </tr>
        {{/each}}
        </table>
   </div>
</div>
