html {
    background: url(/static/img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    color: #fff;
    font-family: 'Share Tech', sans-serif;
    font-size: 2em;
    padding-top: 70px;
}

table.highscore>tbody>tr>td{
    border:none;
}
