html {
    background: url(/static/img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    color: #fff;
    font-family: 'Share Tech', sans-serif;
    font-size: 2em;
    padding-top: 70px;
}

table.highscore>tbody>tr>td{
    border:none;
}

.add {
    display: inline-block;
    height: 30px;
    margin-right: 1em;
    width: 30px;
    z-index: 100;
}

.header {
    height: 4em;
    padding: 1em;
}
